* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.main-header {
    background-color: #f7f7f7;
    padding: 20px 40px; /*上下 左右*/
    margin-bottom: 20px;
}

.post-header {
    margin-bottom: 40px;
}

.post-img {
    width: 20%;
    height: auto;
}

h1, h2, h3 {
    color: #1098ad;
    margin-bottom: 30px;
}

h1 {
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
}

h2 {
    font-size: 50px;
    font-weight: bold;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
    text-align: center;
}


/*footer p {*/
/*    font-size: 16px;*/
/*}*/

#copyright {
    font-size: 16px;
}

.copyright {
    font-size: 30px;
}

/*article header p {*/
/*    font-style: italic;*/
/*}*/

#author {
    color: red;
    font-size: 18px;
}

ol ul {
    margin-left: 50px;
    margin-bottom: 20px;
}

.related {
    list-style: none;
    background-color: #f7f7f7;
    border-top: 2px solid #1098ad;
    border-bottom: 2px solid #1098ad;
    padding: 50px 0;
}

.related-author {
    font-weight: bold;
}

li {
    margin-bottom: 10px;
}



li:last-child {
    margin-bottom: 0
}

li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

li:nth-child(2) {
    color: green;
}


li:nth-child(odd) {
    color: gray;
}

/* doesn't work, first child refers to the first child of article (header), which is not a paragraph */
/*article p:first-child {*/
/*    color: yellow;*/
/*}*/

/* links */

a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: #1098ad;
}

a:hover {
    cursor: pointer;
}

aside {
    width: 500px;
}



